body {
  font: 12pt arial, sans-serif;
}

input, button {
  font-size: 16px;
}

input {
  display: inline;
  width: 300px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #fff;
}

td {
  padding: 5px;
}

#check-if-ok {
  background-color: lightsalmon;
  padding: 5px;
}

.table-frame {
  width: 450px;
}

.taskname-column {
  width: 300px;
  text-align: left;
}

.complete-column, .delete-column {
  text-align: center;
}

.completed-row {
  background-color: palegreen;
}

.row-to-be-deleted {
  background-color: lightsalmon;
}
